<br>


<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/chair.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chair</h5>
              <p class="card-text">White chair</p>
              <p>Price : &#8377;&nbsp;2000</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/Bed.jpg" alt="Card image cap">
            <div class="Bed">
              <h5 class="card-title">bed</h5>
              <p class="card-text">Wooden bed</p>
              <p>Price : &#8377;&nbsp;7000</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/sofa.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">sofa</h5>
              <p class="card-text">Hall Sofaset</p>
              <p>Price : &#8377;&nbsp;20000</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
    </div>
  </div>
