<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
  &nbsp; &nbsp;<button class="btn btn-outline-info" type="button" routerLink="/"><i class="fa fa-home"></i>&nbsp;Home</button>&nbsp; &nbsp;
    <button class="btn btn-outline-info" type="button" routerLink="/login"><i class="fa fa-sign-in"></i>&nbsp;Login</button>&nbsp; &nbsp;
    <button class="btn btn-outline-info" type="button" routerLink="/signup"><i class="fa fa-user"></i>&nbsp;Signup</button>
  </form>
</nav>

<div>
  <router-outlet></router-outlet>
</div>